@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1px; /* Set the desired width */
  height : 10px;
  border-radius: 10px;
}

/* Customize the track (the area the scrollbar moves on) */
::-webkit-scrollbar-track {
  background: blue; /* You can change the background color */
  height : 2px;
  border-radius: 10px;
}

/* Customize the thumb (the draggable scrollbar handle) */
::-webkit-scrollbar-thumb {
  background: green; /* You can change the thumb color */
  width: 2px;
  height : 2px;
  border-radius: 10px;
}
